.pagination-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
}

.pagination-container-item {
    margin: 0 4px;
    padding: 4px 0;
    width: 35px;
    background-color: #1c004a;
    color: #FFF;
    cursor: pointer;
}

.pagination-container-item:hover {
    background-color: aqua;
    color: #1c004a;
}