.pagination-container {
  list-style: none;
}

.pagination-container-item {
  padding: 4px 0;
  width: 35px;
  cursor: pointer;
}

.pagination-container-item:hover {
  background-color: #3ad8c1;
  color: #1c004a !important;
}

.pagination-container-item-active {
  background-color: #3ad8c1 !important;
  color: #1c004a !important;
}

