.subs-button {
  background-color: #3ad8c1;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 25px;
  width: 100px;
  color: #1c004a;
}

.subs-button:hover {
  opacity: 0.8;
}

.btn-aqua {
  background-color: #3ad8c1;
  color: #1c004a;
}

.btn-aqua:hover {
  background-color: #1c004a;
  color: #3ad8c1;
}
