.formH1 {
  margin: 15vh 0 5vh 0;
}

.formContainer {
  width: 50vw;
  margin: auto;
  text-align: left;
}

.formItem {
  padding: 3vh 0 1vh 0;
}

.btnAddCreate {
  background-color: #3ad8c1;
  border: none;
  border-radius: 5px;
  color: #1c004a;
}

.btnAddCreate:hover {
  color: #3ad8c1;
  background-color: #1c004a;
}

.formBtnDelete {
  background-color: #eb3324;
  border: none;
  border-radius: 5px;
  color: white;
}

.formBtnDelete:hover {
  opacity: 0.7;
}
