.admin_H2 {
  margin-top: 8vw;
  margin-bottom: 2vw;
}

.adminMenu {
  padding-top: 7vw;
  padding-left: 2.5vw;
}
.adminMenuLink {
  color: #1c004a;
  text-decoration: none;
  text-align: justify;
  cursor: pointer;
}

.adminMenuIcon {
  float: left;
  margin-right: 0.8em;
}

.cardIconRevenue,
.cardIconSales,
.cardIconOrders {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 0.6rem;
}

.cardIconRevenue {
  background-color: #cff7c7;
}

.cardIconSales {
  background-color: #f8efcc;
}

.cardIconOrders {
  background-color: #dfeaf8;
}

.adminOrders {
  margin-top: 6vw;
}

.searchAdmin {
  margin-top: 2vw;
}
