.formH1 {
  margin: 1rem 0 2rem 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70vw;
  margin: auto;
  text-align: left;
  
}

/* .formContainer__ */

.form_error{
  font-size: x-small;
}

.formItem {
  padding: 3vh 0 1vh 0;
}


.form-check-input:checked {
  background-color: #3ad8c1;
  border-color: #1c004a;
}

.form-check-input {
  background-color: #fbf0f0;
  border-color: #1c004a;
}


.btnAddCreate {
  background-color: #3ad8c1;
  border: none;
  border-radius: 5px;
  color: #1c004a;
}

.btnAddCreate:hover {
  color: #3ad8c1;
  background-color: #1c004a;
}

.formBtnDelete {
  background-color: #eb3324;
  border: none;
  border-radius: 5px;
  color: white;
}

.formBtnDelete:hover {
  opacity: 0.7;
}

.form_indications{
  font-size: .6rem;
}