.div--Serchbar {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.input--SearchBar {
  width: 285px;
  border: none;
  border-radius: 5px;
  border-color: #d9d9d9;
  padding-left: 10px;
}

.input--SearchBar::placeholder {
  color: #b6b6b6;
  font-size: 14px;
}

.btn--Searchbar {
  background-color: #3ad8c1;
  color: #1c004a;
  border-radius: 5px;
  border: none;

  transition: 0.5s ease all;
}

.btn--Searchbar:hover {
  background-color: #fff;
  color: #1c004a;
}

.clear-search-btn {
  right: 55px;
  cursor: pointer;
  z-index: 999;
  background-color: white;
}
