.btnDisableSlider {
    position: fixed;
    z-index: 2000;
    top: 85px;
    right: 0;
    width: 100px;
    border: none;
    font-size: 12px;
    background-color: aqua;
    border-radius: 10px 0 0 10px;
}

.animate__animated.animate__rotateInDownRight {
    --animate-duration: 4s;
}


/* .header {
    width: 100%;
    height: 800px;
    background-color: blueviolet;
}


.img_Uno {
    width: 1000px;
    height: 600px;
    background-color: aqua;
} */