.navbar_container {
  width: 100%;
  padding: 10px 0;
  background-color: rgba(28, 0, 74, 0.9);
  color: #fff;
}

.divColor {
  width: 1200px;
}

.display_around {
  display: flex;
  justify-content: space-between;
}

.logoDiv {
  width: 400px;
  text-align: left;
  display: flex;
  align-items: center;
}

.logoDiv a {
  margin: 0;
  font-size: 25px;
  color: #fff;
}

.navbar-nav {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.nav-li-font {
  font-size: 12px;

  transition: 0.6s ease all;
}

.nav-li-font:hover {
  cursor: pointer;
}