.filterBtn:hover {
  color: #1c004a !important;
  background-color: #3ad8c1 !important;
}

.offcanvas {
  width: 300px !important;
}

select:hover {
  cursor: pointer;
}



/* .filterBG {
  background-color: #3ad8c1;
} */
