.pro-icon-wrapper {
  background-color: rgba(59, 32, 103, 0.9) !important;
}

.pro-inner-list-item {
  background-color: rgba(59, 32, 103, 0.9) !important;
}

.sidebar-btn {
  background-color: rgba(59, 32, 103, 0.9) !important;
}
