.slider_container {
    width: 100%;
    height: 100%;
}

.slider-info {
    position: absolute;
    z-index: auto;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.slider-info-box {
    width: 800px;
    padding: 10px;
}

.slider-info-title{
    margin: 10px 0;
    padding: 0;
    line-height: 50px;
    font-size: 60px;
    color: #FFF;
    font-weight: 400;
    text-align: left;
}

.slider-info-title--right{
    margin: 10px 0;
    padding: 0;
    line-height: 50px;
    font-size: 60px;
    color: #FFF;
    font-weight: 400;
    text-align: right;
}

.slider-info--color {
    font-size: 94px;
    color: aqua;
    font-weight: bold;
}

.slider-info-txt {
    font-size: 22px;
    letter-spacing: 20px;
    text-align: center;
    color: #FFF;
}


.animate__animated.animate__fadeInDown.scrollDown {
    --animate-duration: 5s;
}

.scrollDown {
    position: inherit;
    bottom: 60px;
}


.txtIconDown--txt {
    color: #fff;
    font-size: 16px;
}

.txtIconDown {
    color: #FFF;
    font-size: 40px;
}


@media (min-width: 280px) and (max-width:767px){
    .slider_container {
        margin-top: 73px;
    }
    .slider-info-box {
        width: 250px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .slider-info-title{
        margin: 0;
        padding: 0;
        line-height: 6px;
        font-size: 14px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
    }

    .slider-info-txt {
        margin: 0;
        padding: 0;
        font-size: 12px;
        letter-spacing: 10px;
        text-align: center;
        color: #FFF;
    }

    .slider-info-title--right{
        margin: 0;
        padding: 0;
        line-height: 12px;
        font-size: 16px;
        letter-spacing: 10px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
    }

    .slider-info--color {
        font-size: 20px;
        letter-spacing: 10px;
        color: aqua;
        font-weight: bold;
    }

    .scrollDown {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .txtIconDown--txt {
        color: #fff;
        font-size: 8px;
        margin: 0;
        padding: 0;
    }
    
    .txtIconDown {
        color: #FFF;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
}
